section {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  color: aliceblue;
  width: 400px;
  height: 400px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  border: solid #ccc 1px;
  border-radius: 0 14px 14px 14px;
  padding: 14px 0;
  animation: .2s appear-form;

  background: rgba(122, 72, 72, 0.02);
  backdrop-filter: blur(14px);
  
}

form>header>h1 {
  font-family: 'Fira Sans', sans-serif;
  font-size: 1.6rem;
}

form>div {
  width: 80%;
  animation: 1s ease 2s normal forwards 1 appear-input;
  animation-delay: calc(.4s + .1s * var(--i));
  opacity: 0;
}

mat-form-field {
  width: 100%;
}

#div--button {
  width: 80%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#div--button > button {
  padding: 7px 32px;
  width: 100%;
  
}

#div--button > a {
  position: absolute;
  bottom: 12px;
  text-decoration: none;
  color: var(--primary);
}

#div--button>a>span {
  color: #1e87a1;
}

@keyframes appear-input {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes appear-form {
  from {
    transform: translateY(-10%);
    opacity: 0;
  }
  
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}
