<section>

  <app-nav-bar></app-nav-bar>

  <div class="card-form-field">
    <div class="card">
      <header class="title">
        <input type="text" placeholder="Digite o título" [(ngModel)]="card.title" autofocus maxlength="16">
      </header>
      <div class="message">
        <textarea placeholder="Digite a mensagem" [(ngModel)]="card.message" maxlength="260"></textarea>
      </div>
      <footer class="submit">
        <button (click)="cadastrarCard()">Criar novo card</button>
      </footer>
    </div>
  </div>
    
</section>
