<section>
  <nav>
    <div class="logo">Logo</div>
    <div class="linkFiled">
      <a href="">Ver cards</a>
      <a href="">Criar novo Card</a>
      <a href="">Editar card</a>
      <a href="">Excluir card</a>
    </div>
  </nav>

  <div class="cardsField">

    <div class="card">
      <header class="title">Analise Combinatória</header>
      <div class="message">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit
        Lorem ipsum dolor sit amet consectetur, adipisicing elit
      </div>
      <footer class="date">26/03/21</footer>
    </div>

    <div class="card">
      <header class="title">Analise Combinatória</header>
      <div class="message">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit
        Lorem ipsum dolor sit amet consectetur, adipisicing elit
      </div>
      <footer class="date">26/03/21</footer>
    </div>

    <div class="card" aTilt>
      <header class="title">Analise Combinatória</header>
      <div class="message">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit
        Lorem ipsum dolor sit amet consectetur, adipisicing elit
      </div>
      <footer class="date">26/03/21</footer>
    </div>
    <div class="card">
      <header class="title">Analise Combinatória</header>
      <div class="message">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit
        Lorem ipsum dolor sit amet consectetur, adipisicing elit
      </div>
      <footer class="date">26/03/21</footer>
    </div>

    <div class="card">
      <header class="title">Analise Combinatória</header>
      <div class="message">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit
        Lorem ipsum dolor sit amet consectetur, adipisicing elit
      </div>
      <footer class="date">26/03/21</footer>
    </div>

    <div class="card">
      <header class="title">Analise Combinatória</header>
      <div class="message">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit
        Lorem ipsum dolor sit amet consectetur, adipisicing elit
      </div>
      <footer class="date">26/03/21</footer>
    </div>

  </div>

</section>

